<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.valfom.skydiving.altimeter"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-feature
        android:name="android.hardware.sensor.barometer"
        android:required="true" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.valfom.skydiving.altimeter.AltimeterActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.valfom.skydiving.altimeter.AltimeterPreferenceActivity"
            android:label="@string/settings"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.valfom.skydiving.altimeter.AltimeterListActivity"
            android:label="@string/list"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.valfom.skydiving.altimeter.AltimeterInfoActivity"
            android:label="@string/info"
            android:screenOrientation="portrait" />

        <provider
            android:name="com.valfom.skydiving.altimeter.AltimeterContentProvider"
            android:authorities="com.valfom.skydiving.altimeter.provider"
            android:exported="false" />
    </application>

</manifest>